RewriteEngine On
RewriteCond %{index.php} !-f

RewriteRule ^logout/([a-zA-Z0-9-]*)$ logout.php?adm_id=$1 [NC,L]
RewriteRule ^edit-timesheet/([0-9-]*)$ edit-timesheet.php?timesheet_id=$1& [NC,L]
RewriteRule ^project-planner-details/([0-9-]*)$ project-planner-details.php?planner_id=$1& [NC,L]
RewriteRule ^uploaded-planner-details/([0-9-]*)$ uploaded-planner-details.php?planner_id=$1& [NC,L]

RewriteRule ^([^\.]+)$ $1.php [NC,L]
